.row
  .span6.offset3
    %h1 What's this?
.row
  .span8.offset2
    .hero-unit
      %p 
        The sender of this message inserted that button at the end of his/her 
        message so that you could volunteer a dollop of positive feedback if 
        you found the message worth reading. These signals can be used to decide 
        whether to send similar messages to you in the future.
        
      %br/
      %br/
      %p When you send the same message to several people would you like to:
      %ul
        %li 
          %p send individual messages to each of them?
        %li 
          %p discover when they open the message?
        %li 
          %p discover if they like the message? 
      %br
      %p
        If so, sign up 
        = link_to "here.", new_session_path
