- provide(:title, @user.name)
.row
  .span6.offset2
    %p
      %b Name:
      = @user.name
    %p
      %b Email:
      = @user.email
    %p
      %b Likes:
      = @user.likes
    %br/
    %p
      %b Distribution Lists:
      %br/
      Lists will go here...
